<div>
    <h5>Peliculas</h5>
    @if (movies is null)
    {
        <p>Cargando las peliculas</p>
    }
    else if (movies.Count == 0)
    {
        <p>No hay peliculas para mostrar</p>
    }
    else
    {
        @foreach (Movie movie in movies)
        {
            <MovieIndividual movie="movie"/>
        }
    }

</div>

@code {
    
    [Parameter]
    [EditorRequired]
    public List<Movie>? movies { set; get; }

}