<p>
    Titulo
    <b>@movie.title</b>
    @if (DateTime.Today.Subtract(movie.release_date).Days <= 14)
    {
        <small class="bg-primary text-white">
            Nuevo
        </small>
    }
</p>
<p>Fecha de lanzamiento: <b>@movie.release_date.ToString("dd MMM yyyy")</b> </p>
@code {
    [Parameter]
    [EditorRequired]
    public Movie? movie { get; set; }
}
